#myCarousel,
.carousel-inner {
    width: 100vw;
    height: 49vw;
}

.carouselName {
    position: relative;
    top: -39vw;
    text-align: center;
    color: #000;
}

.name_wrapper {
    background-color: #ffffff;
    width: 40vw;
    height: 10vw;
    position: relative;
    top: -32vw;
    margin: auto;
}

h4 {
    font-size: 0.8rem;
}

.tekst_hoejre {
    text-align: right;
}

.vegetar-tekst,
.alkohol-tekst,
.allergi-tekst {
    position: relative;
    left: -1vw;
}

.center {
    text-align: center;
}

.nypris {
    color: green;
}

.index {
    min-height: 300px;
}

.udsolgt {
    text-decoration: line-through;
}
