body {
    font-family: 'Raleway', sans-serif;
}

#myCarousel,
.carousel-inner {
    width: 100vw;
    height: 49vw;
}

.carouselName {
    position: relative;
    top: -40vw;
    text-align: center;
    color: #000;
    font-family: 'Lobster', cursive;
    font-size: 6rem;
}

.name_wrapper {
    background-color: #ffffff;
    width: 40vw;
    height: 10vw;
    position: relative;
    top: -32vw;
    margin: auto;
    opacity: 0.5;
}

h4 {
    font-size: 0.8rem;
}

.tekst_hoejre {
    text-align: right;
}

.vegetar-tekst,
.alkohol-tekst,
.allergi-tekst {
    position: relative;
    left: -1vw;
}

.center {
    text-align: center;
}

.rabatpris {
    color: green;
}

.index {
    min-height: 17vw;
    border: solid #FFA602 1px;
}

.udsolgt,
.rabat {
    text-decoration: line-through;
}

.filter {
    display: inline-block;
    color: #fff;
    padding: 0 2vw 0 0;
    background-color: #FE6700;
}

.btn {
    background-color: #6A7101;
    border: none 0px;
    border-radius: 0;
}

.navbar {
    background-color: #E52560;
    border: none;
}

.filter_wrapper {
    background-color: #FE6700;
    height: 1.5vw;
}
